.shop_item_container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 18px;
}
.shop_detail_image {
    width: 300px;
    height: 300px;
}
.profile_image {
    width: 200px;
    height: 200px;
}

.search_input:focus {
    box-shadow: none !important;
}
