.shop_item_container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 18px;
}
.shop_detail_image {
    width: 300px;
    height: 300px;
}
.profile_image {
    width: 200px;
    height: 200px;
}

.search_input:focus {
    box-shadow: none !important;
}

.product_image {
    transition: 0.3s;
}
.cart_submit_btn {
    transition: 0.3s;
}

.product_card:hover {
    .product_image {
        transform: translateY(-10px) !important;
    }

    .cart_submit_btn {
        border: 1px solid #00000020;
    }
}
